<div class="nav toggle">
    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
</div>

<ul class="nav navbar-nav navbar-right">
    <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="~/images/user.png" alt="">Administrateur
            <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
            <li>
                <a href="javascript:;">  @Resources.Resources.UserMenuProfile</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sign-out pull-right"></i> @Resources.Resources.Logout</a>
            </li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            <span class="flag-icon flag-icon-@p7cSarlWF.Helpers.CultureHelper.GetCurrentNeutralCulture()"></span> English
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu animated fadeInDown" role="menu">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="" class="culture" id="de"><span class="flag-icon flag-icon-de"></span> Deutch</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="" class="culture" id="fr"><span class="flag-icon flag-icon-fr"></span> Fran&ccedil;ais</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="" class="culture" id="en"><span class="flag-icon flag-icon-en"></span> English</a>
            </li>            
        </ul>
    </li>
</ul>
